<link rel="stylesheet" href="./acerca-de.component.css">
    <!-- Acerca De.. -->
      <div class="container mt-5 pb-4 imagenytitulo">
        <div class="row">
          
          <div class="col-md-4 image-container  text-center">
            
            <img src="../../../assets/img/yoenvipassana.jpg" class="img-fluid rounded-5 " style="width: 175px;height: 175px;" alt="perfil">
            <h2 style="margin-top: 10px ;">{{persona.nombre}}{{persona.apellido}}</h2>
            <h5 style="margin-top: 10px ;">Programador Web Full Stack</h5>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
          </div>
          
          <div class="col-md-8 presentacion">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
            <p>{{persona.descripcion}}</p>

            <p>Experiencia en el desarrollo de aplicaciones web desde cero, desde la conceptualización y el diseño hasta el desarrollo y la implementación. También tengo experiencia en la resolución de problemas y en la optimización de la funcionalidad y el rendimiento de las aplicaciones.</p> 
          
            <p>Me considero un apasionado por la tecnología y siempre estoy dispuesto a aprender y desarrollar mis habilidades. Estoy emocionado de aplicar mis conocimientos y habilidades en un equipo dinámico y en proyectos desafiantes.</p>
          
        </div>

      </div>
                
     